<div layout="row" flex>
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        <md-toolbar class="md-tall md-hue-1">
            <span flex></span>
            <div layout="column" class="md-toolbar-tools-bottom inset">
                <user-avatar></user-avatar>
                <!--<span></span>-->
                <!--<div>Firstname Lastname</div>-->
                <!--<div>email@domainname.com</div>-->
            </div>
        </md-toolbar>
        <md-list ng-controller="sideNavCtrl as sideNav">


            {{#each menuItems}}
            <md-item>
                <a ng-click="sideNav.showView('{{state}}')">
                    <md-item-content md-ink-ripple layout="row" layout-align="start center">
                        <div class="inset">
                            <ng-md-icon icon="{{icon}}"></ng-md-icon>
                        </div>
                        <div class="inset">{{label}}
                        </div>
                    </md-item-content>
                </a>
            </md-item>
            {{/each}}
            <md-divider></md-divider>
            <md-subheader ng-show="{{authenticated}}">Management</md-subheader>
            {{#each adminMenuItems}}
                <md-item>
                    <a ng-click="sideNav.showView('{{state}}')">
                        <md-item-content md-ink-ripple layout="row" layout-align="start center">
                            <div class="inset">
                                <ng-md-icon icon="{{icon}}"></ng-md-icon>
                            </div>
                            <div class="inset">{{title}}
                            </div>
                        </md-item-content>
                    </a>
                </md-item>
            {{/each}}

        </md-list>
    </md-sidenav>
    <div layout="column" flex id="content">
        <md-content layout="column" flex class="md-padding">
            <div data-ui-view>
            </div>
        </md-content>
    </div>
</div>